@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #282c3f;
}

@theme {
  --font-sans: var(--font-assistant), ui-sans-serif, system-ui, sans-serif;
  
  --color-myntra-pink: #ff3f6c;
  --color-myntra-dark: #282c3f;
  --color-myntra-light: #535766;
  --color-myntra-gray: #f5f5f6;
  --color-myntra-border: #eaeaec;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
